body{
    margin: 0;
    padding:0;
    background-color:black;
    min-height: 100vh;
    scroll-behavior: smooth;
}
.header{
    display:  grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: center;
}
.header-vector{
    width:clamp(10px, 20vw, 200px);
}
.links{
    display: flex;
    justify-content: center;
    gap:7vw;
    margin-left:10vw;
    width:30vw;
    font-family: Hanken Grotesk;
    text-decoration: underline;
    font-size: clamp(1em, 1.5vw, 3em);
    color:white;
        text-underline-offset: 3px;


}
.header-name{
    margin: 0 auto;
    width:clamp(100px, 18vw, 200px);

}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1vw;
    width:90vw;
    min-height:70vh;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:10px;
    margin-top: 50px;
    padding:10px;
    border:none;
}
.container{
    width:clamp(300px, 90vw, 1200px);
}
.game{
    border:5px solid white;
    width:40vw;
    height:20vw;
    border-radius: 10px;
}
.game{
    width:clamp(300px, 40vw, 500px);
}
.container p{
    grid-column: span 2;
    color:white;
    justify-self: start;
    margin-left:2vw;
    font-family:hanken grotesk;
    font-weight: 500;
    font-size:clamp(10px, 2.3vw, 1.5em);
}
.others{
    background-color: white;
    border-radius: 10px;
        height:clamp(10px, 20vw, 200px)

}
.football p{
    margin: 0;
    font-size:clamp(1em, 3vw, 2em);
}
.football{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6vw;
    border:none;
    box-shadow: 0px 0px 5px 1px rgb(105, 105, 105);
    height:clamp(10px, 20vw, 200px);
}
.football img{
    width:10vw;
}
.football img{
    width:clamp(10px, 10vw, 100px);
}
.football .two-img{
    width:clamp(10px, 10vw, 100px);
}
.others p{
    color:black;
}
.others{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:clamp(3vw, 3vw, 30px);
}
.others p{
    font-size: 3vw;
    margin:0;
    font-family: bitcount prop single;
    font-weight: 600;
    font-size: clamp(1em, 4vw, 3em);
}
.others div{
    display: flex;
    gap:4.5vw;
}
.others button{
    border: none;
    background-color: white;
    box-shadow: -4px 4px 4px 1px rgb(200, 200, 200);
    font-size: 1.5vw;
    width:clamp(12vw, 12vw, 150px);
    height:4vw;
    border-radius: 5px;
    font-size: clamp(1.8vw, 1.8vw, 1.3em);

}
.others .second-button{
    background-color: black;
    color:white;
}
/*Test Section*/
body{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: arial;
}
.match-display{
    border:solid 1px;
    width:50vw;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
    padding:3vw;
    margin-bottom: 10px;

}
.match-display p{
    margin:0;
}
.buttons{
    border: solid 1px;
    width:50%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap:20%;
}
.match-simulation{
    border:solid 1px;
    width:70vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    color:rgb(80, 80, 80);
    font-size:2vw;
    justify-content: center;
    align-items: center;
    gap:5vw;
    display: none;
    border: none;

}
.match-simulation .teams{
    font-size: 2em;
}
.teams{
    display: flex;
    justify-content: space-around;
    padding:10px;
    width:80%;
    gap:1.5vw;
}
.timer{
    margin: 0;
    margin: 0 auto;
    color:white;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
.first{
    grid-column: span 2;
    width:85vw;
    display: flex;
    flex-direction: column;
    height:fit-content;
    justify-content: center;
    align-items: center;
}
.first-set{
    display:flex;
    justify-content: space-between;
    width:fit-content;
    align-items: center;
    margin-top:5vw;
    gap:5vw;

}

.second{
    margin-top:5vw ;
    grid-column: span 2;
    width:85vw;
    margin-bottom: 5vw;
}
.result,.winner{
    color:rgb(127, 127, 127);
    margin: 0;
}
.winner{
    margin-bottom: 10px;
}
.game-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-one, .display-two{
    display:flex;
    justify-content: space-between;
    width:fit-content;
    align-items: center;
    gap:5vw;

}
.end-match-simulation{
    border-top: solid 2px grey;
    border-left: solid 2px grey;
    padding:5px 15px;
    border-radius: 5px;
    background-color: black;
    color:white;
    font-weight: 500;
    font-size:2vw;
}

.left-stake, .right-stake{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap:1.5vw;

}
.parent-div{
    justify-content: space-between;
    width:70vw;

    display: flex;
    display: flex;
    flex-direction: row;

}
.parent-div button{
    border: none;
    background-color:#2C2A2A;
    color:#41A416;
    font-size:2.1vw;
    display: flex;
    gap:2vw;
    height:5vw;
    justify-content: center;
    align-items: center;
    padding:1vw;
    border-radius: 0.2vw;
    font-family: inter;

}
.teams-stake{
    display: flex;
    width:70vw;
    justify-content: space-between;
    gap:2vw;
    font-family: inter;

}
.teams-stake button{

    background-color:#2C2A2A;
    color:#4abf18;
    border: none;
    font-size:2.1vw;
    gap:20vw;
    height:5vw;
    border-radius: 0.2vw;
    font-family: inter;
}
.over-under{
    align-self: flex-start;

    }
.team-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:200px;
}
/*End of Test Section*/
@media(max-width:700px){
    .container{
        grid-template-columns: 1fr;
        gap:40px;
        border:none;
    }
    .game{
        width:80vw;
    }
        .container p{
        grid-column: auto ;
    }
    .links{
        font-size: clamp(0.7em, 1.5vw, 3em);
    }
    .first{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    height:fit-content;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vw;
}
    .second{
        grid-column:auto;
    }
    .others button{
        width:15vw;
    }
    }


